{% extends 'base.html' %}
{% block activeApp %} active {% endblock %}
{% block title %} Modifier un appartement {% endblock %}

{% block content %}
<h2>Modifier un appartement</h2>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method="post" action="/appartements/edit">
    <fieldset>
        <input type="hidden" name="id" size="18" value="{{ appart.id }}" id="id">

        <label for="superficie">Superficie de l'appartement</label>
        <input required type="number" name="superficie" size="18" value="{{ appart.superficie }}" id="superficie">

        <label for="etage">Etage de l'appartement</label>
        <input required type="number" name="etage" size="18" value="{{ appart.etage }}" id="etage">

        <label for="type_appartement">Type d'appartement</label>
        <select name="type_appartement" id="type_appartement" required>
            {% for type in typeAppart %}
                <option value="{{ type.id }}"{% if appart.type_appartement is defined and type.id == appart.type_appartement %} selected {% endif %}>{{ type.type_appart }}</option>
            {% endfor %}
        </select><br>

        <label for="batiment">Bâtiment n°</label>
        <select name="batiment" id="batiment" required>
            {% for bat in bat %}
                <option value="{{ bat.num_bat }}" {% if appart.batiment is defined and bat.num_bat==appart.batiment %}selected{% endif %}>{{ bat.num_bat }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Modifier" name="Modifier">
    </fieldset>
</form>
{% endblock %}