{% extends 'base.html' %}
{% block activeApp %} active {% endblock %}
{% block title %} Appartements {% endblock %}

{% block content %}
<h3>Appartements</h3>
<a href="/appartements/add">Ajouter un appartement</a>
<br /><br />

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>num_appart</th>
            <th>Superficie en m²</th>
            <th>Etage</th>
            <th>Type d'appartement</th>
            <th>N° Batiment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if (apparts|length) >= 1 %} {% for ligne in apparts %}
            <td>{{ ligne.id }}</td>
            <td>{{ ligne.superficie }}</td>
            <td>{{ ligne.etage }}</td>
            <td>{{ ligne.type_appartement }}</td>
            <td>{{ ligne.bâtiment }}</td>
            <td>
                <a href="/appartements/edit?id={{ ligne.id }}">Modifier</a>
                <a href="/appartements/delete?id={{ ligne.id }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
            <td>Pas d'appartements</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
