{% extends 'base.html' %} 
{% block activeCons %} active {% endblock %} 
{% block title %} Ajouter une consommation {% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Ajouter une consommation</h1>
        <form action="/consommations/add" method="post">
            <!-- Champs pour saisir les informations de l'étudiant -->
            <fieldset>
                <legend> Modifier une consommation</legend>
                <input type="hidden" name="id" size="18" value="">
        
                <label for="date">Date de la consommation</label><br>
                <input required type="date" name="date" size="18" value="" id="date"><br>
        
                <label for="quantite">Quantité consommé</label><br>
                <input required type="quantite" name="quantite" size="18" value=""><br>
        
                <label for="type">Type de consommation</label><br>
                <select name="type" id="type" required>
                    {% for cat in consommable %}
                        <option value="{{cat.id}}"> {{ cat.type }} </option>
                    {% endfor %}
                </select><br>
        
                <label for="appartement">Numéro d'appartement</label><br>
                <select name="appartement" id="appartement" required>
                    {% for nb in appart %}
                        <option value="{{nb.num_app}}"> {{ nb.num_app }} </option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="Enregistrer" name="Enregistrer">
            </fieldset>
        </form>
    </div>
{% endblock %}