{% extends 'base.html' %} 
{% block activeCons %} active {% endblock %} 
{% block title %} Modifier une consommation {% endblock %}

{% block content %}
<h2>Modifier une consommation</h2>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form method="post" action="/consommations/edit">
    <fieldset>
        <legend> Modifier une consommation</legend>
        <input type="hidden" name="id" size="18" value="{{ consommation.id }}" id="id">

        <label for="date">Date de la consommation</label><br>
        <input required type="date" name="date" size="18" value="{{ consommation.date }}" id="date"><br>

        <label for="quantite">Quantité consommé</label><br>
        <input required type="quantite" name="quantite" size="18" value="{{ consommation.quantite }}"><br>

        <label for="type">Type de consommation</label><br>
        <select name="type" id="type" required>
            {% for cat in consommable %}
                <option value="{{ cat.id }}"{% if consommation.idc is defined and cat.id==consommation.idc %}selected{% endif %}> {{ cat.type }} </option>
            {% endfor %}
        </select><br>

        <label for="appartement">Numéro d'appartement</label><br>
        <select name="appartement" id="appartement" required>
            {% for nb in appart %}
                <option value="{{ nb.num_app }}"{% if consommation.appartement is defined and nb.num_app==consommation.appartement %}selected{% endif %}> {{ nb.num_app }} </option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Modifier" name="Modifier">
    </fieldset>
</form>
{% endblock %}
