{% extends 'base.html' %}
{% block activeCons %}active{% endblock %}
{% block title %}Index{% endblock %}

{% block content %}
    <h1>Consommations</h1>
    <p> Welcome to the consommation page</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae explicabo error quae odio ut, rerum blanditiis reprehenderit maxime perspiciatis, tempore quos, accusantium maiores! Soluta ad beatae eligendi quae perspiciatis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae explicabo error quae odio ut, rerum blanditiis reprehenderit maxime perspiciatis, tempore quos, accusantium maiores! Soluta ad beatae eligendi quae perspiciatis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae explicabo error quae odio ut, rerum blanditiis reprehenderit maxime perspiciatis, tempore quos, accusantium maiores! Soluta ad beatae eligendi quae perspiciatis.
{% endblock %}