{% extends 'layout.html' %}

{% block title %}
<title>ajouter une BD</title>
{% endblock %}

{% block body %}
<h2>Ajout d'une BD</h2>
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<form method="post" action="/bande-dessinee/add">
  <fieldset>
    <legend> Créer une BD</legend>
    <label for="serieBD">Série</label><br>
    <input required id="serieBD" type="text" name="serieBD" size="18" value=""
      placeholder="Saisir la série de la BD"><br>
    <label for="auteur_id">auteur_id</label><br>
    <select name="auteur_id" id="auteur_id" required>
      <option value="">Sélectionner un artiste</option>
      {% for auteur in auteurs %}
      <option value="{{ auteur.id }}"> {{ auteur.nomAuteur }} </option>
      {% endfor %}
    </select><br>
    <label for="titre">Titre</label><br>
    <input required id="titre" type="text" name="titre" size="18" value="" placeholder="Saisir le titre de la BD"><br>
    <label for="tome">Tome</label><br>
    <input required id="tome" type="text" name="tome" size="18" value="" placeholder="Saisir le tome de la BD"><br>
    <label for="dateParution">Date de Parution</label><br>
    <input required id="dateParution" type="date" name="dateParution" size="18" value=""
      placeholder="Saisir la date de parution de la BD"><br>
    <label for="prix">Prix</label><br>
    <input required id="prix" type="text" name="prix" size="18" value="" placeholder="Saisir le prix de la BD"><br>
    <label for="image">Image</label><br>
    <input id="image" type="file" accept="image/png, image/jpeg" name="image" size="18" value="" placeholder="Insérer la couverture de la BD"><br><br>
    <input type="submit" value="Creer" name="Valider">
  </fieldset>
</form>
{% endblock %}