{% extends 'layout.html' %}

{% block title %}
<title>Modifier une BD</title>
{% endblock %}

{% block body %}
<h2>Modifier une BD</h2>
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<form method="post" action="/bande-dessinee/edit">
  <fieldset>
    <legend> Modifier une BD</legend>
    <input type="hidden" name="id" size="18" value="{{ bandeDessinee.id }}" id="id">
    <label for="serieBD">Série de la BD</label><br>
    <input required type="text" name="serieBD" size="18" value="{{ bandeDessinee.serieBD }}" id="serieBD"><br>
    <label for="auteur_id">auteur_id</label><br>
    <select name="auteur_id" id="auteur_id" required>
      {% for auteur in auteurs %}
      <option value="{{ auteur.id }}" {% if bandeDessinee.auteur_id is defined and auteur.id==bandeDessinee.auteur_id %}selected{% endif %}>
        {{ auteur.nomAuteur }} </option>
      {% endfor %}
    </select><br>
    <label for="titre">Titre</label><br>
    <input required type="text" name="titre" size="18" value="{{ bandeDessinee.titre }}" id="titre"><br>
    <label for="tome">Tome</label><br>
    <input required type="text" name="tome" size="18" value="{{ bandeDessinee.tome }}" id="tome"><br>
    <label for="dateParution">Date de Parution</label><br>
    <input required type="date" name="dateParution" size="18" value="{{ bandeDessinee.dateParution }}" id="dateParution"><br>
    <label for="prix">Prix</label><br>
    <input required type="text" name="prix" size="18" value="{{ bandeDessinee.prix }}" id="prix"><br>
    <label for="image">Image</label><br>
    <input type="file" accept="image/png, image/jpeg" name="image" size="18" value="{{ bandeDessinee.image }}" id="image"><br><br>
    <input type="submit" value="Modifier" name="Modifier">
  </fieldset>
</form>
{% endblock %}