{% extends 'layout.html' %}

{% block title %}
<title>Afficher les BDs</title>
{% endblock %}

{% block body %}
<h3>Bandes Dessinées</h3>
<a href="/bande-dessinee/add">Ajouter une BD</a>
<br><br>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>Série</th>
            <th>auteur_id</th>
            <th>Titre</th>
            <th>Tome</th>
            <th>Parution</th>
            <th>Prix</th>
            <th>Image</th>
            <th>Opérations</th>
        </tr>
    </thead>
    <tbody>
        {% if bandesDessinees | length >= 1 %}
        {% for ligne in bandesDessinees %}
        <tr>
            <td>{{ ligne.id }}</td>
            <td>{{ ligne.serieBD }}</td>
            <td>{{ ligne.auteur_id}}</td>
            <td>{{ ligne.titre }}</td>
            <td>{{ ligne.tome }}</td>
            <td>{{ ligne.dateParution }}</td>
            <td>{{ ligne.prix }}</td>
            <td>
                {% if ligne.image is not none %}
                <img style="width:40px;height:40px" src="{{ url_for('static', filename = 'images/' + ligne['image']) }}"
                    alt="image  de {{ ligne.titre }}">
                {% else %}
                <img style="width:40px;height:40px" src="{{ url_for('static', filename='images/logo_sujet_8.png')}}"
                    alt="no image">
                {% endif %}
            </td>
            <td>
                <a href="/bande-dessinee/edit?id={{ ligne.id }}">Editer</a>&nbsp;
                <a href="/bande-dessinee/delete?id={{ ligne.id }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                Pas de BD :(
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}