<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" href="/bande-dessinee/filtre"><img src="../static/images/logo_sujet_8.png" style="height: 40px; width: 40px;" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bande-dessinee/filtre"> Filtres </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/bande-dessinee/show"> Bandes Dessinées </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auteur/show"> Auteurs </a>
        </li>
      </ul>
    </div>
</nav>