<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <!--<nav class="navbar navbar-expand-lg fixed-top bg-black navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><b>LOCECO</b></a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto align-items-center">

                    </ul>
                </div>
            </div>
        </nav>-->
        <!-- Navbar --> 
        
        <nav class="navbar navbar-expand-lg fixed-top bg-black navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><b>LOCECO</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-2 {% block activeApp %}{% endblock %}" href="#!"><i class="fa fa-building pe-2"></i>Appartements</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link mx-2 {% block activCont %}{% endblock %}" href="#!"><i class="fa fa-pencil pe-2"></i>Contrats</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link mx-2 {% block activeCons %}{% endblock %}" href="/consommations/show"><i class="fa fa-bolt pe-2"></i>Consommations</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link mx-2 {% block activeLoc %}{% endblock %}" href="#!"><i class="fa fa-users pe-2"></i>Locataires</a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>

        
    </header>

    <div class="mx-auto " style="width: 85%; margin-top: 100px;">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>